.footer {
  background-color: $color-grey-bg;
  padding: 30px 0;
  width: 100%;
  border-top: 2px solid $color-grey-separator;

  // Стили для внутреннего контейнера футера
  &__container {
    position: relative;

  }


  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px; 
  }

  &__row {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
  }

  &__address {
    font-family: $font-regular;
    font-size: 16px;
    color: $color-main-alt;
  }

  &__map-link {
    font-family: $font-bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color-active;
    text-decoration: none;

    &:hover {
      color: $color-active-hover;
    }
  }

  &__social {
    display: inline-block;
    
    svg, img {
      display: block;
      width: 38px;
      height: 38px;
    }
  }

  &__phone {
    font-family: $font-bold;
    font-size: 16px;
    color: $color-main;
    text-decoration: none;
  }

  &__email {
    font-family: $font-bold;
    font-size: 16px;
    color: $color-active;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    font-family: $font-regular;
    font-size: 16px;
    color: $color-grey-text;
    margin: 0;
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 30px 0;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;    
      gap: 21px;              
    }

    &__row--top,
    &__row--middle {
      display: flex;
      flex-direction: row;
      align-items: center;    
      flex-wrap: nowrap;      
      gap: 10px;
    }

    &__social {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &__map-link::before {
      content: "•";
      margin-right: 10px;
      margin-left: 2px;
      color: $color-grey-text;
      font-size: 16px;
      display: inline-block;
    }

    &__social + &__phone::before {
      content: "•";
      margin-right: 10px;
      color: $color-grey-text;
      font-size: 16px;
      display: inline-block;
    }

    &__phone + &__email::before,
    &__phone + a::before {
      content: "•";
      margin-right: 10px;
      color: $color-grey-text;
      font-size: 16px;
      display: inline-block;
    }

    &__copyright {
      text-align: center;
    }
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 30px 60px;

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__content {
      display: flex;
      flex-direction: column; 
      align-items: flex-start;
      gap: 21px;              
      text-align: left;
    }

    &__row--top,
    &__row--middle {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }

    &__map-link::before {
      content: "•";
      margin-right: 10px;
      color: $color-grey-text;
      font-size: 16px;
      display: inline-block;
    }


    &__copyright {
      position: static;
      text-align: right;
      white-space: nowrap;   
      padding-top: 0;
      margin: 0;
    }

    &__social {
      display: inline-flex;  
      align-items: center;
      justify-content: center;
    }

    &__social + &__phone::before {
      content: "•";
      margin-right: 10px;
      color: $color-grey-text;
      font-size: 16px;
      display: inline-block;
    }

    &__phone + &__email::before,
    &__phone + a::before {
      content: "•";
      margin-right: 10px;
      color: $color-grey-text;
      font-size: 16px;
      display: inline-block;
    }
  }
}


@media (min-width: 1920px) {
 .footer {
    padding: 30px 160px;
 }
}


